.texto1{
    margin: 60px;
    background-color: #ffffffda;
    width: 600px;
    border-radius: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 50px;
    margin-top: 45px;
}
.section1{
    background: url('img/programando.jpg') no-repeat center center fixed;
    background-size: 100%;
    padding: 1px;
}