.texto1{
    background-color: #69d774;
    max-width: 90%;
    width: 650px;
    border-radius: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    color: aliceblue;
}

.section1{
    margin-top: 7%;
    margin-bottom: 7%;
    max-width: 100%;
}
main{
    background-image: url(img/sobrenosotras.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .texto1 {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.9em; /* Ajusta el tamaño de la fuente */
    }

    .section1 {
        margin-top: 30%; /* Ajusta el margen superior */
        margin-bottom: 10%;
        padding: 0 5px; /* Reduce el padding en pantallas pequeñas */
    }
}
