.section1{
    background-image: url('img/programando.jpg');
    background-size: cover;

    padding: 60px
}
.texto1{
    margin: 20px;
    background-color: #ffffffda;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 50px;
}